<div>
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">VIP Member</a></li>
		<li><a href="#">Experiences</a></li>
		<li><a href="#">Moments</a></li>
		<li><a href="#">Awards</a></li>
	</ul>
</div>

<div>
	<a href="#" class="large button">Join Now</a>	
</div>	

<img src="http://static.squarespace.com/static/4ffce520e4b0b11c22561872/4ffce520e4b0b11c22561878/5245c7fde4b05bfd3a956025/?format=500w"/>
